# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE
.vscode/
.idea/


# Node
node_modules/
frontend/node_modules/

# Cache
.cache/
**/.cache/
frontend/node_modules/.cache/

# Python
__pycache__/
*.pyc
.venv/

# MJPEG temp
current_frame.jpg
